.dashboard-container {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pokemons-card {
    /* height: 100%; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    width: 100%;
    padding: 10px;
    justify-items: center;
    align-items: center;

}

.botones {
    text-align: center;
    button {
        font-size: 1rem;
        background-color: blue;
        padding: 5px 10px;
        border: none;
        border-radius: 8px;
        color: white;
        margin: 5px;
        transition: background-color 0.5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .botones2{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    button:hover {
        cursor: pointer;
        background-color: rgb(14, 14, 185);
        transition: background-color 0.5s ease;
    }
    .paginacion {
        display: block;
        margin: 10px;
    }
}

